REPO=space-wizards/space-station-14
BRANCH=master
CHANGELOG_REPO_PATH=Resources/Changelog
EXTRA_CATEGORIES=Admin,Maps,Rules
#GITHUB_TOKEN=optional
DISCORD_WEBHOOK=url to discord webhook for posting changelogs to a channel
